/* 지도 */
#map-container {
  margin: 0;
}

.map-controls {
  margin-bottom: 10px;
  text-align: center;
}

.map-controls input {
  padding: 8px;
  width: 300px;
  margin-right: 8px;
  margin-bottom: 8px;
}

.map-controls button {
  padding: 8px 12px;
  background-color: #0078ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

#map {
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
}

.filter-buttons button {
  padding: 8px 12px;
  margin: 0 5px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  font-weight: bold;
  background-color: #ffffff;
}

.filter-buttons button:hover {
  background-color: #b6b6b6;
}

/* 게시판 미리보기 */
.board-section {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  margin: 30px 0;
}

.board-box {
  flex: 1;
  background: white;
  border: 1px solid #ccc;
  padding: 15px;
}

.board-box h3 {
  margin-top: 0;
}

.board-box h3 a {
  text-decoration: none;
  font-size: 20px;
  color: #333;
}

.board-box ul {
  list-style: none;
  padding-left: 0;
  margin-top: 10px;
}

.board-box ul li {
  padding: 6px 10px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
  color: #333;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.board-box ul li:hover {
  background-color: #eaeaea;
}

.board-box ul li a {
  text-decoration: none;
  color: black;
}

.placeholder {
  background-color: #eee;
  padding: 40px;
  text-align: center;
  margin: 30px 0;
}